body {
    background-color: #202020;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form input[type="number"],
form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.expense-list {
    background-color: #303030;
    padding: 10px;
}

.expense-list h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.expense-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.expense-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.expense-amount {
    color: #ff5555;
}

.edit-button,
.delete-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px
}

.navbar {
    background-color: #303030;
    padding: 10px;
    height: 5vh;
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.navbar li {
    margin-right: 10px;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar li a:hover {
    background-color: #555;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 0;
}

.cta-buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    width: 60px;
}

.btn:hover {
    background-color: #45a049;
}

.padding-top {
    padding-top: 10vh;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-top: 10vh;
}

h1 {
    margin-top: 0;
}

form {
    margin-top: 20px;
}

form label {
    display: flex;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 10px;
}

.forgot-password a {
    color: #555;
    text-decoration: none;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    font-size: medium;
}

.btn:hover {
    background-color: #45a049;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.verification-methods {
    margin-bottom: 20px;
}

.verification-methods button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.verification-methods button:hover {
    background-color: #45a049;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  
  #verification-code {
    margin-top: 20px;
  }

  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    color: #202020;
  }
  
  .block {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
  }
  
  .block h2 {
    margin-top: 0;
  }
  
  .block p {
    margin-bottom: 0;
  }
  
  .block ul {
    padding-left: 20px;
    margin-top: 0;
  }
  
  .block ul li {
    margin-bottom: 5px;
  }

  .t {
    display: flex;
  }
  .left { 
    float: left; 
    width: 40px;
    border-radius: 50px;
    margin-left: 5rem;
}
  .right { float: right; }